@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

u {
    text-decoration: underline;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.hidden {
    display: none !important;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--text-black-900);
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--bg-black-100);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* aside */
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    /* position: fixed; */
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

 .nav-toggler{
    transform: translateX(-260px);
    
}

.open {
    transform: translateX(0);
}

.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler.open span {
    background: transparent;
    
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}


/* =========================== home =========================== */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 36px;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    color: var(--text-black-700);
}

.home-buttons {
    display: flex;
    justify-content: space-between;
}

.home-buttons .btn {
    height: 48px;
}

.home-social-link {
    display: inline-flex;
    background-color: var(--skin-color);
    color: var(--bg-black-100);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.home-social-link:hover {
    transform: scale(1.1);
}

.home-img {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
    position: relative;
    top: 60px;
    left: 20px;
}

.home-img::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 0;
    bottom: 50px;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 0;
    top: -40px;
}

.home-img img {
    margin: auto;
    border-radius: 5px;
    height: 300px;
}


/* =========================== About =========================== */
.about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about-text {
    flex: 0 0 60%;
    max-width: 60%;
}

.about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about-text h3 span {
    color: var(--skin-color);
}

.about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    text-align: justify;
    margin-bottom: 20px;
}

.about-text .buttons {
    margin-top: 40px;
}

.about-info {
    flex: 0 0 40%;
    max-width: 40%;
}

.about-info .info-item {
    padding: 10px 0;
    border-bottom: 1px solid var(--bg-black-50);
    display: flex;
}

.about-info .info-item .info-item-icon {
    flex: 0 0 10%;
    max-width: 10%;
    text-align: center;
    font-size: 20px;
    color: var(--skin-color);
}

.about-info .info-item p {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-black-900);
}

.about-info .info-item p:last-child,
.about-info .info-item p a {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-black-700);
}

.skills {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
}

.skills h3 {
    text-align: center;
}

.skills .row {
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Makes it responsive */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 150px;
    height: 100px;
    background-color: var(--bg-black-100);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill-card img {
    /* width: 40px; */
    max-width: 75%;
    height: 40px;
    /* margin: 10px auto 1px; */
    margin-bottom: 10px;
}

.skill-card p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: var(--text-black-700);
}

.skill-card:hover {
    transform: translateY(-5px);
}

/* .education,
.experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
} */

h3.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-black-900);
    margin-bottom: 30px;
}

/* =========================== Resume =========================== */
.resume .container {
    padding-bottom: 40px;
}

.bd-grid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.education, .experience, .community, .course {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.resume-container div .row {
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.bd-grid {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.resume-container .row {
    row-gap: 20px;
}

.resume-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    color: var(--text-black-700);
}

.resume-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
    text-align: justify;
}

.resume-subject {
    font-size: 20px;
}

.resume-subject + h4 {
    margin-bottom: 10px;
}

.resume-grade {
    display: block;
    font-size: 16px;
}

.resume-timeline {
    padding: 0 1rem;
    justify-self: center;
}

.resume-timeline-date {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text-black-700);
}

.resume-timeline-date .fa {
    margin-right: 5px;
}

.resume-timeline-dot {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--skin-color);
    border-radius: 50%;
}

.resume-timeline-dot::before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--skin-color);
    border-radius: 50%;
}

.resume-timeline-line {
    display: block;
    height: 95%;
    width: 2px;
    background-color: var(--skin-color);
    transform: translate(5px, -4px);
}

.resume-container .achievement {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.resume-container .achievement .row {
    flex: 0 0 49%;
    max-width: 49%;
}

.achievement-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.resume-item span a {
    color: var(--skin-color);
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .achievement-container {
        flex-direction: column;
        gap: 16px
    }

    .achievement-card {
        max-width: 100% !important
    }
}

/* =========================== Portfolio =========================== */
.portfolio .container {
    padding-bottom: 40px;
}

.project {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.project .row {
    margin-bottom: 30px;
}

.project-img {
    width: 30%;
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.project-content {
    width: 70%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-pill {
    padding: 0 10px;
    border-radius: 50px;
    display: inline;
    white-space: nowrap;
    border: 1px solid var(--skin-color);
    background: var(--bg-black-100);
}

.project-pill span {
    font-size: 14px;
    font-weight: 500;
    color: var(--skin-color);
}

.project-name {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 7px 0 5px;
}

.project-desc {
    margin-bottom: 5px;
}

.project-tech {
    margin-bottom: 7px;
}

.project-desc,
.project-tech {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-black-700);
    text-align: justify;
}

.project-tech span {
    font-weight: 600;
}

.project-buttons .btn {
    padding: 5px 15px;
    font-size: 16px;
}

.project-buttons .btn-border {
    border: 2px solid var(--skin-color);
    padding: 3px 13px;
    background: var(--bg-black-100);
    color: var(--skin-color);
    margin-left: 5px;
}

/* =========================== Contact =========================== */
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact-info-item .icon {
    display: inline-block;
}

.contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--skin-color);
}

.contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    
}

.contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.form-item {
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}

.form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
    cursor: pointer;
}

/* =========================== Responsive Design =========================== */
@media (max-width:1199px) {
    .section .container {
        padding-top: 70px;
    }
    .aside {
        left: -270px;
    }
    .aside.open {
        left: 0;
    }
    .nav-toggler {
        position: fixed;
        display: flex;
        left: 30px;
    }
    .nav-toggler.open {
        left: 300px;
    }
    .section {
        left: 0;
    }
    .section.open {
        left: 270px;
    }
    .info-item p span {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {
    .contact-info-item,
    .portfolio-item,
    .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .home .container .row {
        flex-direction: column;
    }
    .home-info {
        flex: 0 0 100%;
        max-width: 100% !important;
    }
    .home-img {
        display: none;
    }
    .home-buttons{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .col-6,
    .contact-info-item,
    .portfolio-item,
    .service-item,
    .education,
    .experience,
    .skills,
    .about-text,
    .about-info {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-info {
        margin-top: 30px;
    }
    .skills-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjusted for smaller screens */
    }
}

@media (max-width:480px) {
    .home-buttons .btn {
        width: 178px;
        margin-top: 20px;
    }
    .home-social-link {
        margin-left: 0;
        margin-right: 2px;
    }
    .skill-card {
        height: 90px;
    }
  
    .skill-card img {
        width: 30px;
        height: 30px;
    }
  
    .skill-card p {
        font-size: 14px;
    }
}